body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

#auth-container {
    text-align: center;
}

#game-container {
    margin-top: 20px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 200px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    margin: 10px;
}

button {
    background-color: #ffc802ff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #073055ff;
}

h2 {
    font-size: 2em;
}

#googleLoginButton {
    background-color: #db4437;
    color: white;
}

#googleLoginButton:hover {
    background-color: #c1351d;
}

#game-container h1 {
    color: #073055ff;
}
